@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-accent: #2B7FFF;
  --color-font-primary: #011C44;
  --color-font-secondary: #4A4A4A;
  --color-btn-text: #FFF;
  --color-background-dark: #011F4A;
  --color-font-light: #FFF;
  --color-input-border: #747272;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-font-primary);
}

h1 {
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  color: var(--color-accent);
}

h2 {
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: var(--color-font-primary);
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h3 {
  font-size: 22px;
}

h6 {
  color: var(--color-font-secondary);
  font-size: 12px;
}

p {
  font-size: 22px;
}

.accent {
  color: var(--color-accent);
}

/* Header */

header {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.nav-link {
  text-decoration: none;
  color: var(--color-font-primary);
  font-size: 18px;
}

.nav-link:hover {
  color: var(--color-accent);
  font-weight: 700;
}

.semibold-capitalize {
  text-transform: capitalize;
  font-weight: 500;
}

/* Стилізація карток з секції "Чому люди обирають нас" */
.card {
  font-size: 18px;
}


/* Form */

.form {
  background-color: var(--color-font-primary);
  color: var(--color-font-light);

  & p,
  a {
    font-size: 12px;
    color: var(--color-input-border);
  }

  & input {
    border: 2px solid var(--color-input-border);
    color: var(--color-font-light);
    background-color: transparent;
    font-size: 13px;
  }

  & input:focus {
    outline: transparent;
    background-color: var(--color-input-border);
  }

  & input::placeholder {
    color: var(--color-font-light);
  }
}

/* Footer */

footer {
  background-color: var(--color-font-primary);
  color: var(--color-font-light);

  & p {
    font-size: 16px;
  }

  & a {
    color: var(--color-font-light);
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
}
